{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    
    {% comment %} Time Posted (Date) {% endcomment %}
    {% if post.show_date and post.date or post.read_time %}
      <p class="page__meta" style="display: flex; align-items: center; gap: 0.5em;">
        {% if post.show_date and post.date %}
          <span class="page__meta-date">
            {% assign date_format = "%b %d, %Y" %}
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          </span>
        {% endif %}
        {% if post.read_time and post.show_date and post.date %}<span class="page__meta-sep" style="margin: 0 0;"></span>{% endif %}
        {% if post.read_time %}
          <span class="page__meta-readtime">
            {% assign words_per_minute = post.words_per_minute | default: site.words_per_minute | default: 200 %}
            {% assign words = post.content | strip_html | number_of_words %}
            {% if words < words_per_minute %}
              {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
            {% elsif words == words_per_minute %}
              1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
            {% else %}
              {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
            {% endif %}
          </span>
        {% endif %}
      </p>
    {% endif %}
    
    {% comment %} Post Title {% endcomment %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
